{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">"{{ data['description'] }}"</span>

      <form class="form" action="thanks" method="get">

        {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "Did you have to refer anywhere else (e.g. web search) to identify it?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              hint: {
                text: "I had to refer elsewhere, like a web search for the product"
              }
            },
            {
              value: "no",
              text: "No",
              hint: {
                text: "All of the information and context I needed was in the description"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
